!!!
%html
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %link{rel:"shortcut icon", href:"favicon.gif", type:"image/gif"}
    %title toolmantim.com
    %style
      :plain
        /*
         * MyFonts Webfont Build ID 826852, 2011-05-29T09:22:38-0400
         * 
         * The fonts listed in this notice are subject to the End User License
         * Agreement(s) entered into by the website owner. All other parties are 
         * explicitly restricted from using the Licensed Webfonts(s).
         * 
         * You may obtain a valid license at the URLs below.
         * 
         * Webfont: Erbar URW Bold
         * URL: http://new.myfonts.com/fonts/urw/erbar/bold/
         * Foundry: URW++
         * Copyright: none
         * License: http://www.myfonts.com/viewlicense?1056
         * Licensed pageviews: 20,000/month
         * CSS font-family: ErbarURW-Bold
         * CSS font-weight: normal
         * 
         * (c) 2011 Bitstream Inc
        */
        @font-face {
          font-family: 'ErbarURW-Bold';
          src: url('webfonts/erbar.eot');
          src: url(#{data_uri('hallo-berlin/webfonts/erbar.woff', 'font/woff')}) format('woff'),
               url(#{data_uri('hallo-berlin/webfonts/erbar.ttf', 'font/tff')}) format('truetype'),
               url(#{data_uri('hallo-berlin/webfonts/erbar.svg')}) format('svg');
        }
      
        html, body, h1, header, nav { margin: 0; padding: 0; }
        html { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; background-color: #571B0E; }
        html, body, article { width: 100%; height: 100%; }
        /* display:block new HTML5 elements */
        header, nav, article, footer { display: block; }
        body { -webkit-text-size-adjust: none; }
        a img { border: none; }
        header {
          position: absolute;
          top: 0;
          left: 0;
          background-color: white;
          color: black;
          padding: 10px 15px;
          -webkit-border-bottom-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          border-bottom-right-radius: 5px;
          -webkit-transition: padding 120ms linear;
          -moz-transition: padding 120ms linear;
          -o-transition: padding 120ms linear;
          transition: padding 120ms linear;
        }
        header, footer {
          z-index: 2;
        }
        header > * {
          float: left;
        }
        header h1 {
          font-size: 18px;
          line-height: 24px;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #ccc;
        }
        header a {
          position: relative;
          width: 24px;
          height: 24px;
          text-indent: -1000px;
          float:left;
          opacity: .3;
          -webkit-transition: opacity 120ms linear;
          -moz-transition: opacity 120ms linear;
          transition: opacity 120ms linear;
          text-decoration: none;
          background-size: 100%;
          -webkit-background-size: 100%;
          -moz-background-size: 100%;
        }
        header a + a {
          margin-left: 5px;
        }
        header a:hover {
          opacity: 1;
        }
        header a.email { background-image: url(#{data_uri('hallo-berlin/nav-icons/email.svg')}); }
        header a.twitter { background-image: url(#{data_uri('hallo-berlin/nav-icons/twitter.svg')}); }
        header a.flickr { background-image: url(#{data_uri('hallo-berlin/nav-icons/flickr.svg')}); }
        header a.github { background-image: url(#{data_uri('hallo-berlin/nav-icons/github.svg')}); }
        header a.dribbble { background-image: url(#{data_uri('hallo-berlin/nav-icons/dribbble.svg')}); }
        header a:hover:after {
          content: attr(title);
          position: absolute;
          top: 40px;
          left: -88px;
          width: 200px;
          color: white;
          font-size: 11px;
          font-weight: bold;
          text-align: center;
          text-indent: 0;
          text-transform: uppercase;
          text-shadow: 0 1px 0 black;
        }
        article {
          position: relative;
          min-height: 320px;
          background: url(photo-large.jpg) 50% 0 no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          z-index: 1;
          display:-webkit-box;
          -webkit-box-pack:center;
          -webkit-box-align:center;
          display:-moz-box;
          -moz-box-pack:center;
          -moz-box-align:center;
          display:box;
          box-pack:center;
          box-align:center;
        }
        .animations article {
          overflow: hidden; /* We only need this for animations, and it trips out FF flexbox height */
        }
        article h1 {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          color: white;
          font: 180px/.7 ErbarURW-Bold;
        }
        article h1 span {
          max-width: 556px;
          width: 100%;
          display: block;
          margin: 0 auto;
          overflow: hidden;
        }
        article h1 .hallo {
          text-transform: lowercase;
        }
        article h1 .berlin {
          text-transform: uppercase;
        }
        article .line {
          position: absolute;
          height: 2px;
          width: 80%;
          left: 10%;
          top: 50%;
          background-color: white;
        }
        .animations article .line {
          opacity: 0;
          -webkit-transform-origin: center left;
        }
        .animations.loaded article .line {
          -webkit-animation: line 800ms ease-out forwards;
        }
        article h1 .hallo span {
          margin-bottom: 3%;
        }
        .animations article h1 .hallo span {
          opacity: 0;
        }
        .animations.loaded article h1 .hallo span {
          -webkit-animation: hallo 500ms 700ms forwards;
        }
        article h1 .berlin span {
          margin-top: 3%;
        }
        .animations article h1 .berlin span {
          opacity: 0;
        }
        .animations.loaded article h1 .berlin span {
          -webkit-animation: berlin 500ms 1.1s forwards;
        }
        article .plane {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: transparent url(#{data_uri('hallo-berlin/plane.svg')}) 90% 50% no-repeat;
        }
        .animations article .plane {
          background-position-x: 0;
          opacity: 0;
        }
        .animations.loaded article .plane {
          -webkit-animation: plane 800ms ease-out forwards;
        }
        article footer {
          position: absolute;
          display: inline-block;
          left: 0;
          bottom: 2%;
          width: 96%;
          padding: 0 2%;
        }
        article footer a, article footer a span {
          -webkit-transition: all 200ms;
          -moz-transition: all 200ms;
          transition: all 200ms;
        }
        article footer a.cc {
          float: left;
          background-color: #fff6c5;
          padding: 1px 2px;
          border-radius: 8px;
          line-height: 15px;
          opacity: .8;
        }
        article footer a.cc:hover {
          opacity: 1;
        }
        article footer a.cc img {
          float: left;
        }
        article footer a.photo-cred {
          float: right;
          margin-top: -2px;
          color: white;
          text-decoration: none;
          line-height: 14px;
        }
        article footer a.photo-cred span.photo {
          font-size: 11px;
          text-transform: uppercase;
          color: #cda675;
          margin-right: 0.1em;
        }
        article footer a.photo-cred:hover span.photo {
          color: #fdd6a5;
        }
        article footer a.photo-cred span.name {
          font-size: 14px;
          color: #eea03e;
        }
        article footer a.photo-cred:hover span.name {
          color: white;
        }

        @media screen and (max-width: 1000px) { article h1 { font-size: 150px; } }
        @media screen and (max-width: 800px) { article h1 { font-size: 120px; } }
        @media screen and (max-width: 600px) { article h1 { font-size: 90px; } }
        
        @media screen and (max-width: 480px) {
          article h1 {
            font-size: 60px;
          }
          article footer {
            bottom: 10px;
            right: 15px;
          }
        }
        
        @media screen and (max-width:480px), screen and (max-width:320px) {
          article {
            background-image: url('photo-small.jpg');
          }
          header {
            padding: 8px 16px;
          }
          header h1 {
            font-size: 14px;
            line-height: 18px;
          }
          header nav a {
            width: 18px;
            height: 18px;
          }
          header nav a:hover:after {
            top: 30px;
          }
          article footer a.photo-cred span.photo {
            font-size: 10px;
          }
          article footer a.photo-cred span.name {
            font-size: 13px;
          }
        }

        /* Shinier background for high-res devices */
        @media screen and (max-width:480px) and (min-resolution: 300dpi), screen and (max-width:320px) and (min-resolution: 300dpi) {
          article {
            background: url('photo-large.jpg') no-repeat;
          }
        }
        /* Webkit specific */
        @media screen and (max-width:480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width:320px) and (-webkit-min-device-pixel-ratio: 2) {
          article {
            background: url('photo-large.jpg') no-repeat;
          }
        }
        
        @media screen and (max-width: 320px) {
          header {
            left: 25px;
            -webkit-border-bottom-left-radius: 5px;
          }
          article h1 {
            font-size: 40px;
          }
          article footer {
            bottom: 10px;
          }
        }

        @-webkit-keyframes plane {
          from { opacity: 1; -webkit-transform: translateX(-10%); }
          to   { opacity: 1; -webkit-transform: translateX(90%) translateX(-34px);  }
        }
        @-webkit-keyframes line {
          from { opacity: 0; -webkit-transform: scaleX(0); }
          10%  { opacity: 1; -webkit-transform: scaleX(0); }
          to   { opacity: 1; -webkit-transform: scaleX(80%); }
        }
        @-webkit-keyframes hallo {
          from { opacity: 1; -webkit-transform: translateY(120%); }
          to   { opacity: 1; -webkit-transform: translateY(0); }
        }
        @-webkit-keyframes berlin {
          from { opacity: 1; -webkit-transform: translateY(-120%); }
          to   { opacity: 1; -webkit-transform: translateY(0); }
        }
    
    /[if lt IE 9]
      %script
        :plain
          // Shiv those elements!
          (function(elems) {
            for (var i=0; i < elems.length; i++)
              document.createElement(elems[i]);
          })(["header", "nav", "article", "footer"]);
      %style
        :plain
          /* SVG replacements */
          header a.email { background-image: url(nav-icons/email.png); }
          header a.twitter { background-image: url(nav-icons/twitter.png); }
          header a.flickr { background-image: url(nav-icons/flickr.png); }
          header a.github { background-image: url(nav-icons/github.png); }
          header a.dribbble { background-image: url(nav-icons/dribbble.png); }
          article .plane { background-image: url(plane.png); }
          
          /* Font-face fix for IE6-8 */
          @font-face {
            font-family: 'ErbarURW-Bold';
            src: url('webfonts/erbar.eot?iefix') format('embedded-opentype');
          }
    
    /[if lte IE 9]
      %style
        :plain
          /* Vertical center sans-flexbox */
          article h1 {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -142px;
            height: 285px;
          }
          
    %script
      :plain
        (function() {
          if (!window.addEventListener) return;

          var docElem = document.documentElement;

          // Feature detect webkit animation support
          var animations = (function() {
            var e = document.createElement("div");
            e.style["-webkit-animation"] = "abc 1s";
            if (e.style["-webkit-animation-name"]) {
              docElem.className = "animations";
              return true;
            }
          })();

          // Fix Safari animation forwards not recalculating % values by turning
          // off animation class after last animation finishes.
          window.addEventListener("webkitAnimationEnd", function(e) {
            if (e.animationName == "berlin") docElem.className = "";
          }, false);

          // Add "loaded" class for animations once background image has loaded
          if (animations) {
            window.addEventListener("load", function() {
              // Background image changes with @media styles
              var bgUrl = getComputedStyle(document.querySelector("article")).backgroundImage,
                  bgImg = bgUrl.match(/^url\((.*)\)$/)[1],
                  img = document.createElement("img");
              img.addEventListener("load", function() { docElem.className += " loaded"; }, false)
              img.setAttribute("src", bgImg);
            }, false);
          }

        })();

        // Unobfuscate email links
        window.onload = function() {
          var links = document.getElementsByTagName("a");
          for (var i = 0; i < links.length; i++)
            links[i].href = links[i].href.replace("THISDOMAIN", window.location.host);
        }
        
        // Analytics
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-196014-3']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
  
    %header
      %h1 toolmantim
      %nav
        %a.email{href:"mailto:t@THISDOMAIN", title:"Email"} Email
        %a.twitter{href:"http://twitter.com/toolmantim", title:"Twitter"} Twitter
        %a.flickr{href:"http://flickr.com/photos/toolmantim", title:"Flickr"} Flickr
        %a.github{href:"http://github.com/toolmantim", title:"Github"} Github
        %a.dribbble{href:"http://dribbble.com/toolmantim", title:"Dribble"} Dribbble
        
    %article
      %h1
        %span.hallo
          %span Hallo
        %span.berlin
          %span Berlin
          
      / Wouldn't need these if could animate :before and :after pseudo-elements
      .plane
      .line
      
      %footer
        %a.cc{href:"http://creativecommons.org/licenses/by-sa/2.0/"}
          %img{src:data_uri("hallo-berlin/cc-attribution.gif"), alt:"Attribution"}
          %img{src:data_uri("hallo-berlin/cc-share-alike.gif"), alt:"Share Alike"}
        %a.photo-cred{href:"http://flickr.com/"} <span class='photo'>Photo by</span> <span class='name'>ioerror</span>